{% extends "base.html" %} {% block content %}
<header class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo_main">
                    <a href="/">PAWA BEANS THRESHERS</a>
                </div>
            </div>
            <div class="col-sm-6">
                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn"><img src="/static/images/menu_icon.png"></button>
            </div>
        </div>
    </div>
</header>
<!-- End header -->
<!-- Start Banner -->
<!-- section -->
<div class="section about_section layout_padding dash_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="heading_main text_align_center">
                        <h2>What We Do</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                <div class="full feature_box">
                    <div class="full icon">
                        <img class="default-block" src="/static/images/icon_1.png" alt="#" />
                        <img class="default-none" src="/static/images/icon_1w.png" alt="#" />
                    </div>
                    <div class="full">
                        <h4>Maths Models</h4>
                    </div>
                    <div class="full">
                        <p>Develop mathematical models relating to design parameters and performance of a stationary common bean solar threshers.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                <div class="full feature_box">
                    <div class="full icon">
                        <img class="default-block" src="/static/images/icon_2.png" alt="#" />
                        <img class="default-none" src="/static/images/icon_2w.png" alt="#" />
                    </div>
                    <div class="full">
                        <h4>Computer Models</h4>
                    </div>
                    <div class="full">
                        <p>Develop a computer model for simulating the design parameters and performance of a stationary common bean solar thresher.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                <div class="full feature_box">
                    <div class="full icon">
                        <img class="default-block" src="/static/images/icon_3.png" alt="#" />
                        <img class="default-none" src="/static/images/icon_3w.png" alt="#" />
                    </div>
                    <div class="full">
                        <h4>Optimization</h4>
                    </div>
                    <div class="full">
                        <p>Optimize design parameters and performance of a stationary common bean solar thresher.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                <div class="full feature_box">
                    <div class="full icon">
                        <img class="default-block" src="/static/images/icon_4.png" alt="#" />
                        <img class="default-none" src="/static/images/icon_4w.png" alt="#" />
                    </div>
                    <div class="full">
                        <h4>Fabrication</h4>
                    </div>
                    <div class="full">
                        <p>Develop an optimized stationary solar thresher and validate its performance when threshing common bean.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->
<!-- section -->
<div class="section about_section layout_padding padding_top_0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="heading_main text_align_center">
                        <h2 class="margin-bottom_30"><strong class="small theme_color">Why choose</strong><br>Pawa Beans threshers</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="full">
                    <div class="heading_small">
                        <h4>Our Justification</h4>
                    </div>
                    <p>Food security is among the “Big Four Agenda” which is an economic blueprint that was developed by the government of Kenya in 2017 to foster economic development and provide solutions to various socio-economic problems facing Kenyans.
                        This is also included under zero hunger in the new sustainable development goal two.<br><br> Common bean (Phaseolus vulgaris L.) is a major staple food in Eastern and Southern Africa where its recognized as the second most important
                        dietary protein and third most important source of calories (Wortmann, 1998). Beans are a major source of dietary protein in Kenya, Tanzania, Malawi, Uganda, and Zambia. For the developing nations, they are a means of keeping malnutrition
                        at bay. As a result, health organizations fronted by World Health Organization are promoting the regular consumption of common bean and other pulses as it has been found to reduce the risk of diseases such as cancer, diabetes or
                        coronary heart diseases(Leterme, 2002). Therefore, any advances in scientific research that benefit bean yields, particularly in developing countries, will help to feed the hungry and give hope for the future (Beebe et al., 2012).The
                        output of traditional methods of threshing are low, resulting to delays in handling of large volumes of produce. This not only ensue losses but also makes the cost of operation to be quite high. These difficulties could be solved
                        by engine powered threshers such as grain combine. However, the existing small size of farms in developing nations, Kenya included makes their use uneconomical. <br><br>Stationary threshers would otherwise provide solutions although
                        with challenges that requires improvement. Areas that need to be addressed through scientific research in stationary thresher include; Seed damage caused by impacts of the moving parts of crop threshing units and incorrect clearances
                        between the stationary and moving parts of the units; problem of separation of the seed from the straws and very little information is available about the common bean characteristic, machine and operational parameters in relation
                        to the performance of the threshing unit.<br><br> Therefore bean variety, moisture content, feed rate, cylinder peripheral speeds, concave configurations and clearance have to be studied and optimized. Modelling of threshing and
                        separation process, threshing loss and grain damage will provide a better understanding of the fundamental relationship of different machine and crop characteristics in order to identify the contribution of each variable for optimization.

                    </p>
                </div>
                <div class="full margin-top_30">
                    <a class="readmore_bt" href="/">HOME</a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="full text_align_center">
                    <img class="img-responsive" src="/static/images/f1.png" alt="#" />
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}