<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Site Metas -->
    <title>Simulation Model</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="apple-touch-icon" href="#" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="/static/css/pogo-slider.min.css" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="/static/css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/static/css/responsive.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/custom.css" />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond./static/js/1.4.2/respond.min.js"></script>
      <![endif]-->
    {% endblock %}
</head>

<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">
    <!-- LOADER -->
    <div id="preloader">
        <div class="loader">
            <img src="/static/images/loader.gif" alt="#" />
        </div>
    </div>
    <!-- END LOADER -->
    <div class="wrapper">
        <nav id="sidebar">
            <div class="menu_section">
                <ul>
                    <li><a href="index">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="model">Modelling</a></li>
                    <li><a href="opt">Optimization</a></li>
                </ul>
            </div>
        </nav>

        <div id="content">
            {% block content %}

            <!-- Start Footer -->
            {% block footer %}
            <footer class="footer-box">

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="full">
                                <div class="heading_main text_align_center white_fonts margin-bottom_30">
                                    <h2>Contact us</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-3 col-md-6 col-sm-6 white_fonts">
                            <div class="full footer_blog f_icon_1">
                                <p>Address<br><small>306 11015,<br>Njoro,<br>Nakuru, Kenya</small></p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 white_fonts">
                            <div class="full footer_blog f_icon_2">
                                <p>Phone<br><small>+2541234567<br>+254123456<br>Monday - Friday<br>08:00 am - 05:00 pm</small></p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 white_fonts">
                            <div class="full footer_blog f_icon_3">
                                <p>Email<br><small>support@pawathreshers.com<br>24 X 7 online support</small></p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 white_fonts">
                            <div class="full footer_blog_last">
                                <p>Social media</p>
                                <p>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                    </ul>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

            </footer> {% endblock %}
            <!-- End Footer -->
            {% block footer_bottom %}
            <div class="footer_bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <p class="crp">© Copyrights 2020 P. Wamalwa</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            {% endblock %} {% endblock %}
        </div>

        <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>
        <!-- ALL JS FILES -->
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/popper.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <!-- ALL PLUGINS -->
        <script src="/static/js/jquery.magnific-popup.min.js"></script>
        <script src="/static/js/jquery.pogo-slider.min.js"></script>
        <script src="/static/js/slider-index.js"></script>
        <script src="/static/js/smoothscroll.js"></script>
        <script src="/static/js/form-validator.min.js"></script>
        <script src="/static/js/contact-form-script.js"></script>
        <script src="/static/js/isotope.min.js"></script>
        <script src="/static/js/images-loded.min.js"></script>
        <script src="/static/js/custom.js"></script>
        <!-- End Google Map -->
        <script>
            $(document).ready(function() {
                $('#sidebarCollapse').on('click', function() {
                    $('#sidebar, #content').toggleClass('active');
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });
            });
        </script>
        <!-- google map js -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap"></script>
        <!-- end google map js -->
</body>

</html>