{% extends "base.html" %} {% block content %}
<!-- Start header -->
<header class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo_main">
                    <a href="/">PAWA BEANS THRESHER</a>
                </div>
            </div>
            <div class="col-sm-6">
                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn"><img src="/static/images/menu_icon.png"></button>
            </div>
        </div>
    </div>
</header>
<!-- End header -->
<!-- Start Banner -->
<div class="ulockd-home-slider">
    <div class="container-fluid">
        <div class="row">
            <div class="pogoSlider" id="js-main-slider">
                <div class="pogoSlider-slide" style="background-image:url(/static/images/slider.png);">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slide_text">
                                    <h6>Stationary threshers that use clean energy </h6>
                                    <br>
                                    <a class="readmore_bt" href="about">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pogoSlider-slide" style="background-image:url(/static/images/slider.png);">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slide_text">
                                    <h6>A FASTER, EFFICIENT AND ECONOMIC WAY TO THRESH</h6>
                                    <br>
                                    <a class="readmore_bt" href="about">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pogoSlider-slide" style="background-image:url(/static/images/slider.png);">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slide_text">
                                    <h6>THRESH FASTER, SAVE MORE!</h6>
                                    <br>
                                    <a class="readmore_bt" href="about">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .pogoSlider -->
        </div>
    </div>
</div>
<!-- End Banner -->
<!-- section -->
<div class="section about_section layout_padding dash_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="heading_main text_align_center">
                        <h2>What We Do</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                <div class="full feature_box">
                    <div class="full icon">
                        <img class="default-block" src="/static/images/icon_1.png" alt="#" />
                        <img class="default-none" src="/static/images/icon_1w.png" alt="#" />
                    </div>
                    <div class="full">
                        <h4>Maths Models</h4>
                    </div>
                    <div class="full">
                        <p>Develop mathematical models relating to design parameters and performance of a stationary common bean solar threshers.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                <div class="full feature_box">
                    <div class="full icon">
                        <img class="default-block" src="/static/images/icon_2.png" alt="#" />
                        <img class="default-none" src="/static/images/icon_2w.png" alt="#" />
                    </div>
                    <div class="full">
                        <h4>Computer Models</h4>
                    </div>
                    <div class="full">
                        <p>Develop a computer model for simulating the design parameters and performance of a stationary common bean solar thresher.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                <div class="full feature_box">
                    <div class="full icon">
                        <img class="default-block" src="/static/images/icon_3.png" alt="#" />
                        <img class="default-none" src="/static/images/icon_3w.png" alt="#" />
                    </div>
                    <div class="full">
                        <h4>Optimization</h4>
                    </div>
                    <div class="full">
                        <p>Optimize design parameters and performance of a stationary common bean solar thresher.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                <div class="full feature_box">
                    <div class="full icon">
                        <img class="default-block" src="/static/images/icon_4.png" alt="#" />
                        <img class="default-none" src="/static/images/icon_4w.png" alt="#" />
                    </div>
                    <div class="full">
                        <h4>Fabrication</h4>
                    </div>
                    <div class="full">
                        <p>Develop an optimized stationary solar thresher and validate its performance when threshing common bean.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->
<!-- section -->
<div class="section about_section layout_padding padding_top_0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="heading_main text_align_center margin-bottom_30">
                        <h2><strong class="small theme_color">Our</strong><br> Case Studies</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1">
                <div class="full text_align_center">
                    <p>Threshers that use fossils fuels such as grain combine harvesters have become popular because they overcome difficulties associated with traditional method of threshing harvested beans. The conventional methods basically involve beating
                        them with a pestle or stick and bullock treading which are inefficient as they requires a lot of energy and results in a lot of breakages and losses. However, the existing economic structure of agricultural production together
                        with small size of farms in developing countries like Kenya makes their use uneconomical.<br><br> The gap can be filled by stationary threshers that use clean energy such as solar which is renewable although with challenges that
                        requires improvement. Grain damage caused by impacts of the moving parts of crop threshing units and incorrect clearances between the stationary and moving parts of the units are some of the concerns to bean farmers and consumers.
                        Higher thresher unit rotor speeds favour higher threshing efficiencies, throughput and output capacities; but results in an increased seed damage as high as 40-50%. There is also a problem of separation of the seed from the straws
                        which is related to concave sieve sizes.<br><br> Finally, very little information is available about the common bean characteristic, machine and operational parameters in relation to the performance of the threshing unit. Therefore,
                        bean variety, moisture content, feed rate, cylinder peripheral speeds, concave configurations and clearance have to be studied. Modelling of threshing and separation process, threshing loss and grain damage will provide a better
                        understanding of the fundamental relationship of different machine and crop characteristics in order to identify the contribution of each variable.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="full text_align_center">
                    <img class="img-responsive" src="/static/images/video_img.jpg" alt="#" />
                </div>
                <div class="full center">
                    <a class="readmore_bt" href="model">Model</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->
<!-- section -->
<div class="section dark_blue_layout white_fonts layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <div class="full">
                    <div class="heading_main text_align_left" style="margin-bottom: 0;">
                        <h2><strong class="small">Get your  order</strong><br>Today</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-8">
                <div class="full">
                    <div class="form_section">
                        <form class="news_submit_form">
                            <fieldset>
                                <div class="field">
                                    <input type="email" placeholder="Enter url" name="#" required />
                                    <button>Submit</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->
<!-- section -->
<div class="section about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="heading_main text_align_center margin-bottom_30">
                        <h2><strong class="small theme_color">We’ve done lot’s of work, Let’s</strong><br>Check some from here</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="work_blog margin-top_30">
                    <img class="img-responsive" src="/static/images/slider.png" alt="#" />
                    <div class="hover_workblog">
                        <img src="/static/images/search_icon.png" alt="#" />
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="work_blog margin-top_30">
                    <img class="img-responsive" src="/static/images/slider.png" alt="#" />
                    <div class="hover_workblog">
                        <img src="/static/images/search_icon.png" alt="#" />
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="work_blog margin-top_30">
                    <img class="img-responsive" src="/static/images/slider.png" alt="#" />
                    <div class="hover_workblog">
                        <img src="/static/images/search_icon.png" alt="#" />
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="work_blog margin-top_30">
                    <img class="img-responsive" src="/static/images/slider.png" alt="#" />
                    <div class="hover_workblog">
                        <img src="/static/images/search_icon.png" alt="#" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- end section -->
<!-- section -->
<div class="section about_section layout_padding padding_top_0">
    <div class="row">
        <div class="col-md-12">
            <div class="full">
                <div class="heading_main text_align_center margin-bottom_30">
                    <h2>Contact us</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section -->
<div class="section contact_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 theme_color_bg fc3726 padding_0">
                <div class="full">
                    <div class="row">
                        <div class="col-sm-12 col-md-10 offset-lg-1">
                            <div class="full contact_form">
                                <form class="contact_form_inner" action="#">
                                    <fieldset>
                                        <div class="field">
                                            <input type="text" name="name" placeholder="Your name" />
                                        </div>
                                        <div class="field">
                                            <input type="email" name="email" placeholder="Email" />
                                        </div>
                                        <div class="field">
                                            <input type="text" name="phone_no" placeholder="Phone number" />
                                        </div>
                                        <div class="field">
                                            <textarea placeholder="Message"></textarea>
                                        </div>
                                        <div class="field center">
                                            <button class="margin-top_30">SEND</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 padding_0">
                <div class="full">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="full map_section">
                                <div id="map">
                                    <div id="googleMap" style="width:100%;height:440px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ super() }}
<!-- end section -->
{% endblock %}