{% extends "base.html" %} {% block content %}
<header class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo_main">
                    <a href="/"><img src="/static/images/main_logo.png" /></a>
                </div>
            </div>
            <div class="col-sm-6">
                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn"><img src="/static/images/menu_icon.png"></button>
            </div>
        </div>
    </div>
</header>
<!-- End header -->
<!-- section -->
<div class="section about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="heading_main text_align_center">
                        <h2 class="margin-bottom_30"><strong class="small theme_color">Increase your client for</strong><br>Better position of Business</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="full">
                    <div class="heading_small">

                        <h4>Increase your client</h4>
                    </div>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a pass<br><br>age
                        of Lorem Ipsum, you need to be sure there isn'There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even
                        slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn</p>
                </div>
                <div class="full margin-top_30">
                    <a class="readmore_bt" href="about">Read More</a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="full text_align_center">
                    <img class="img-responsive" src="/static/images/f1.png" alt="#" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->
<!-- section -->
<div class="section about_section layout_padding padding_top_0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="heading_main text_align_center margin-bottom_30">
                        <h2><strong class="small theme_color">Previous Projects</strong><br>Our Case Studies</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1">
                <div class="full text_align_center">
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage
                        of Lorem Ipsum, you need to be sure there isn'</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="full text_align_center">
                    <img class="img-responsive" src="/static/images/video_img.jpg" alt="#" />
                </div>
                <div class="full center">
                    <a class="readmore_bt" href="about">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->
<!-- section -->
<div class="section dark_blue_layout white_fonts layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <div class="full">
                    <div class="heading_main text_align_left" style="margin-bottom: 0;">
                        <h2><strong class="small">Get your  free quote</strong><br>Today</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-8">
                <div class="full">
                    <div class="form_section">
                        <form class="news_submit_form">
                            <fieldset>
                                <div class="field">
                                    <input type="email" placeholder="Enter url" name="#" required />
                                    <button>Submit</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->
<!-- section -->
<div class="section about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="heading_main text_align_center margin-bottom_30">
                        <h2><strong class="small theme_color">We’ve done lot’s of work, Let’s</strong><br>Check some from here</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="work_blog margin-top_30">
                    <img class="img-responsive" src="/static/images/blog1.jpg" alt="#" />
                    <div class="hover_workblog">
                        <img src="/static/images/search_icon.png" alt="#" />
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="work_blog margin-top_30">
                    <img class="img-responsive" src="/static/images/blog2.jpg" alt="#" />
                    <div class="hover_workblog">
                        <img src="/static/images/search_icon.png" alt="#" />
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="work_blog margin-top_30">
                    <img class="img-responsive" src="/static/images/blog3.jpg" alt="#" />
                    <div class="hover_workblog">
                        <img src="/static/images/search_icon.png" alt="#" />
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="work_blog margin-top_30">
                    <img class="img-responsive" src="/static/images/blog4.jpg" alt="#" />
                    <div class="hover_workblog">
                        <img src="/static/images/search_icon.png" alt="#" />
                    </div>
                </div>
            </div>

        </div>
    </div>

    {% endblock %}